#blanco
{
	color: rgb(255,255,255)
}
#verde
{
	background-color: #79d142
}
#PDF
{
	padding-top: 40px
}
#rojo
{
	background: rgb(139, 9, 9)
}
#fondoAzul
{
	background-color: #2e7788
}
#azul
{
	color: #2e7788
}
#gallery
{
	padding-top: 28px
}
#imgProyectos
{
	height: 450px
}
#miFotoPerfil
{
	height: 150px
}