<!doctype html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 Resume/CV Template for Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico">  
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- FontAwesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--CSS-->
    <link href="{{url_for('static',filename='orbit-1.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='main.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='letrasBlancas.css')}}" rel="stylesheet">

    <title>Adrián</title>
  </head>
  <body>
    <div id="page-wrapper">
            <!-- Header -->
        <header id="header" style="background: darkred">
            <h1><a href="index.html">Alpha</a> by HTML5 UP</h1>
            <nav id="nav">
                <ul>
                </ul>
            </nav>
        </header>
    </div>
    <div class="wrapper">
        <div class="sidebar-wrapper" style="background: darkred">
            <div class="profile-container">
                <img class="profile" src="{{url_for('static',filename='imagen.jpg')}}" height="150 px" width="150 px" alt="" />
                <h1 class="name" style="color: white">{{nombre}}</h1>
                <h3 class="tagline">Desarrollador de Software</h3>
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fas fa-envelope"></i><a href="mailto: ">adrians259@gmail.com</a></li>
                    <li class="phone"><i class="fas fa-phone"></i><a href="#hokk">473 137 5018</a></li>
                    <li class="website"><i class="fas fa-globe"></i><a href="#hokk">sita.com</a></li>
                    <li class="linkedin"><i class="fab fa-linkedin-in"></i><a href="#hokk">linkedin.com/in/adrianh</a></li>
                    <li class="github"><i class="fab fa-github"></i><a href="#hokk">github.com/username</a></li>
                    <li class="twitter"><i class="fab fa-twitter"></i><a href="#hokk">@twitteradrian</a></li>
                </ul>
            </div><!--//contact-container-->
            <div class="education-container container-block">
                <h2  id="blanco" class="container-block-title">Educacion</h2>
                <div class="item">
                    <h4 id="blanco" class="degree">Ingeniero en Sistemas Computacionales </h4>
                    <h5 id="blanco" class="meta">Instituto Tecnologico Superior de Guanajuato</h5>
                    <div class="time">2016-2021</div>
                </div><!--//item-->
                <!--<div class="item">
                    <h4 class="degree">BSc in Applied Mathematics</h4>
                    <h5 class="meta">Bristol University</h5>
                    <div class="time">2007 - 2011</div>
                </div><!//item-->
            </div><!--//education-container-->
            
            <div class="languages-container container-block">
                <h2 id="blanco" class="container-block-title">Lenguajes</h2>
                <ul class="list-unstyled interests-list">
                    <li>Español <span class="lang-desc">(Native)</span></li>
                    <li>Ingles <span class="lang-desc">(Professional)</span></li>
                </ul>
            </div><!--//interests-->
            
            <div class="interests-container container-block">
                <h2 id="blanco" class="container-block-title">Intereses</h2>
                <ul class="list-unstyled interests-list">
                    <li>Desarrollo Web</li>
                    <li>Desarrollo Android</li>
                    <li>Programacion con python</li>
                </ul>
            </div><!--//interests-->
            
        </div><!--//sidebar-wrapper-->
        
        <div class="main-wrapper">
            
            <section class="section summary-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-user"></i></span>Perfil de Carrera</h2>
                <div class="summary">
                    <p>Un profesional en ingeniería en sistemas computacionales, es un referente en temas de tecnologías y ciencia para la solución de problemas reales. Es capaz de apoyar diversos procesos en lo que respecta al área de ingenieríay matematicas aplicadas. Es capaz de proponer soluciones a problemas en pequeña y gran escala. Su formación, le permite también, ser lider en temas tecnológicos y científicos.</p>
                </div><!--//summary-->
            </section><!--//section-->
            
            <section class="section experiences-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-briefcase"></i></span>Experiencias</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Desarrollador de AR</h3>
                            <div class="time">2019</div>
                        </div><!--//upper-row-->
                        <div class="company">SEG, Guanajuato.</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Software desarrollado para el congreso internacional de maestros, educat, con este se pretendia que mediante el uso de la realidad aumentada y la camara de un dispositivo movil, se visualizaran objetos tridimensionales (relacionados a cada unos de los stands del congreso), sobre ua carpa o ona que se encontraba en el mismo stand.</p>
                        <p>Lo anterior con el objetivo de innovar la manera en que se presenta informacion o contenido en un congreso.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <!--div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">2014 - 2015</div>
                        </div><!//upper-row-->
                        <!--div class="company">Google, London</div>
                    </div><!//meta-->
                    <!--div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                        
                    </div><!//details-->
                <!--/div><!//item-->
                
            </section><!--//section-->
            
            <section class="section projects-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-archive"></i></span>Proyectos</h2>
                <!--div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div><!//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hokk">Uso de la Realidad Aumentada para enseñanza de la Fisica</a></span> - <span class="project-tagline">Consiste en el uso de la realidad aumentada para facilitar la comprension y visualizacion de vectores y las sumas que realizas conb estos.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#hokk">Educat-AR</a></span> - 
                    <span class="project-tagline">Un sistema desarrollado para la Secretaria de Educaion de Guanajuato con el fin de utilizarlo en congreso internacional de maestros educat. Mediante el antes mencionado se podian visualizar ojetos tridimensionales relacionados a cada stand. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#hokk">aumentAR-Games</a></span> - <span class="project-tagline">Un sistema desarrollado para participar en concurso de desarrollo tecnologico eneit. Este consiste en la creacion de un tablero de ajedrez cuyas fichas no son fisicas , sino ojetos tridimensionales que gracias a la tecnologia de realidad aumentada, pueden ser visualizadas mediante la camara de un dispositivo movil. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#hokk">Rutas Gunajuato</a></span> - <span class="project-tagline">Aplicacion movil para facilitar el uso del transporte publico en la ciudad de Guanajuato. Se utilizo como la propuesta utilizada para participar en el Talentic 2019. </span>
                </div><!--//item-->
                <!--div class="item">
                    <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/" target="_blank">Delta</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
                </div><//item-->
            </section><!--//section-->
            
            <section class="skills-section section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-rocket"></i></span>Habilidades &amp; Eficiencia</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">C++ &amp; Java</h3>
                        <div class="progress level-bar">
                <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 80%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
            </div>                               
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Javascript &amp; php</h3>
                        <div class="progress level-bar">
                <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 70%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
            </div>                              
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Python</h3>
                        <div class="progress level-bar">
                <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 80%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
            </div>                                 
                    </div><!//item-->
                    
                    <div class="item">
                        <h3 class="level-title">HTML5 &amp; CSS</h3>
                        <div class="progress level-bar">
                  <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 70%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
            </div>                                
                    </div><!--//item-->
                    
                    <!--div class="item">
                        <h3 class="level-title">Ruby on Rails</h3>
                        <div class="progress level-bar">
                <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
            </div>                                  
                    </div><!//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Photoshop</h3>
                        <div class="progress level-bar">
                <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 50%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>                                 
                    </div><!--//item-->
                    
                </div>  
            </section><!--//skills-section-->
        </div><!--//main-body-->
    </div>
 
    <footer class="footer">
        <div class="text-center">
                <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other commercial license options via our website: themes.3rdwavemedia.com */-->
                <small class="copyright">Designed with <i class="fas fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
        </div><!--//container-->
    </footer><!--//footer-->
  </body>
</html>